* {
    padding: 0;
    margin: 0;
}

body {
    background: var(--bs-gray-200) !important;
}

.content_bread {
    background-color: #21137e;
    margin-top: 0;
    margin-bottom: 5px;
}

li {
    list-style: none;
}

ul {
    display: flex;
    padding: 5px
}

.item_selected {
    color: rgb(255, 255, 255);
    font-size: 20px;
}