table {
    width: 100%;
    height: 50px;
}

.box {
    align-items: center;
    background: chocolate;
}

body {
    background: rgb(255, 255, 255);
    color: black;
}

td {
    text-align: center;
}

.tabla {
    width: 200px;
    color: black;
    font-size: 18px;
}

.tablaimg {
    width: 450px;
}

.nombre {
    font-size: 30px;
    color: black;
}

.nombre_pro {
    font-size: 20px;
    color: black;
}

th {
    color: rgb(255, 255, 255);
    background: rgb(0, 0, 0);
}

img {
    width: 200px;
    height: 100px;
}

.img_table:hover {
    transform: scale(2);
}

.titulo {
    background: rgb(0, 0, 0);
}

.btn_acep {
    margin-left: 20px;
}

label .nombre {
    font-size: 30px;
}

.box {
    width: 500px;
    height: 100%;
}