* {
    padding: 0;
    margin: 0;
}

body {
    background: url("/static/img/rancho1.png");
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /* position: relative;
    object-fit: scale-down;
    position: fixed; */
}

h1 {
    color: wheat;
    font-size: 2.5rem;
}

.header-container {
    display: flex;
    background: white;
    height: 70px;
    align-items: center;
    justify-content: center;
    background: #E0EAFC;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #CFDEF3, #E0EAFC);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

span.header-titile {
    align-items: end;
    font-size: 4rem;
}

.header-img {
    width: 85px;
    height: 100%;
    border-radius: 50%;
    padding: 0;
    margin: 0;
}

.header-img img {
    width: 100%;
    height: 100%;
}

.primario {
    padding: 0px;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
}